.intro {
  background-image: url(https://raw.githubusercontent.com/caseywalker/images/main/Casey_Walker.png);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;

}
