.project-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin: auto;
  padding: 7px;
}

.card {
  width: 350px;
  margin: 20px 15px;
  background-color: $bgColor;
  padding-top: 25px;
  padding-bottom: 150px;
  color: black;
  font-family: Georgia;
  font-size: 18px;
}
